@media screen and (max-width: 1400px) {
  #profile1 {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers1 {
    flex-wrap: wrap;
  }
  #contact1,
  #projects1 {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav1 {
    display: none;
  }
  #hamburger-nav1 {
    display: flex;
  }
  #experience1,
  .experience-details-container1 {
    margin-top: 2rem;
  }
  #profile1,
  .section-container1 {
    display: block;
  }
  .arrow1 {
    display: none;
  }
  section1,
  .section-container1 {
    height: fit-content;
  }
  section1 {
    margin: 0 5%;
  }
  .section__pic-container1 {
    width: 275px;
    height: 275px;
    margin: 5rem 2rem auto -1rem;
  }
  .about-containers1 {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 1000) {
#about1{
  padding-left: 5rem;
  padding-right: 5rem;
}

}

@media screen and (max-width: 600px) {
  #contact1,
  footer1 {
    height: 40vh;
  }
  #profile1 {
    height: 83vh;
    margin-bottom: 0;
  }
  article1 {
    font-size: 1rem;
  }
  footer1 nav1 {
    height: fit-content;
    margin-bottom: 2rem;
  }

  .about-details .right {
    width: 90%;
    margin-bottom: 40px;
}
}

  .about-containers1,
  .contact-info-upper-container1,
  .btn-container1 {
    flex-wrap: wrap;
  }
  .contact-info-container1 {
    margin: 0;
  }
  .contact-info-container1 p1,
  .nav-links1 li a {
    font-size: 1rem;
  }
  .experience-sub-title1 {
    font-size: 1.25rem;
  }
  .logo1 {
    font-size: 1.5rem;
  }
  .nav-links1 {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container1 {
    width: auto;
    /* height: 65vw; */
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title1 {
    font-size: 2rem;
  }
  .text-container1 {
    text-align: justify;
  }
}


@media screen and (max-width: 500px) {

#about1{
    padding-left: 1rem;
    padding-right: 1rem;
}

}